
html, body { position: absolute; top: 0; left: 0; bottom: 0; right: 0; height: 100%; width: 100%; overflow: auto; }
body { padding-top: 60px; }

body table.table { margin: auto; width: 96% }

/*table thead, table tbody { display: block; }*/
table tbody { height: 90%; overflow: auto; }

table th { white-space: nowrap; }

table th:nth-child(1), table td:nth-child(1) { text-align: center; width: 1%; }
table th:nth-child(2), table td:nth-child(2) { text-align: center; width: 1%; }
table th:nth-child(3), table td:nth-child(3) { text-align: center; width: 1%; }
table th:nth-child(4), table td:nth-child(4) { width: auto; text-overflow:ellipsis; }
table th:nth-child(5), table td:nth-child(5) { text-align: center; width: 1%; }

table td:nth-child(1) { text-align: left; white-space: nowrap; }
table td:nth-child(2) { text-align: left; white-space: nowrap; }
table td:nth-child(3) { text-align: center; white-space: nowrap; }
table td:nth-child(4) { text-align: left; white-space: nowrap; }
table td:nth-child(5) { text-align: left; white-space: nowrap; }

div.modal-content div.modal-body textarea { min-height: 300px; }

