
html, body { position: absolute; top: 0; left: 0; bottom: 0; right: 0; height: 100%; width: 100%; overflow: auto; }
body { padding-top: 60px; padding-bottom: 60px; }

h1 { position: fixed; left: 0; top: 0; padding: 0 5%; }

fieldset.shoppinglist { height: 350px; position: relative; }
fieldset.shoppinglist textarea.form-control { width: 65%; height: 100%; float: right; }
fieldset.shoppinglist button { margin: 10px; }
fieldset.shoppinglist select[multiple] { width: 30%; height: 100%; }


body table.table { margin: auto; width: 96% }

/*table thead, table tbody { display: block; }*/
table tbody { height: 90%; overflow: auto; }

table th { white-space: nowrap; }

table th:nth-child(1), table td:nth-child(1) { width: 1%; }
table th:nth-child(2), table td:nth-child(2) { width: auto; }
table th:nth-child(3), table td:nth-child(3) { width: auto; text-overflow:ellipsis; }
table th:nth-child(4), table td:nth-child(4) { width: 1%; }
table th:nth-child(5), table td:nth-child(5) { width: 1%; }
table th:nth-child(6), table td:nth-child(6) { width: 1%; }

table th:nth-child(5) { text-align: right; white-space: nowrap; font-size: 120%; }

table td:nth-child(1) { text-align: right; white-space: nowrap; }
table td:nth-child(4) { text-align: right; white-space: nowrap; }
table td:nth-child(5) { text-align: right; white-space: nowrap; }
table td:nth-child(6) { text-align: right; white-space: nowrap; }

div#errorModal div.modal-content { background-color: #f2dede; border-color: #eed3d7; }
div#errorModal div.modal-content div { border-color: #eed3d7; }
div#errorModal div.modal-content div.modal-body { background-color: #fff; }
div#errorModal div.modal-footer { margin-top: 0; }
